<f:layout name="Default" />

<f:section name="main">
<div class="order-checkout">
	<h1>Neue Bestellung</h1>

	<f:render partial="formErrors" arguments="{for: 'order'}" />
	<f:flashMessages />
	
	<f:form method="post" controller="Order" action="submitOrder" name="order" object="{order}">
		<ol>
			<li>
				<label>Name<em>*</em></label>
				<f:form.textfield property="buyer.name" size="35" />
			</li>
			<li>
				<label>Straße + Nr.<em>*</em></label>
				<f:form.textfield property="buyer.address" size="35" />
			</li>
			<li>
				<label>PLZ + Ort<em>*</em></label>
				<f:form.textfield property="buyer.city" />
			</li>
			<li>
				<label>E-Mail<em>*</em></label>
				<f:form.textfield property="buyer.email" size="35" />
			</li>
			<li>
				<label>Telefon<em>*</em></label>
				<f:form.textfield property="buyer.telephone" size="35" />
			</li>
			<li>
				<label for="comment">Nachricht</label>
				<f:form.textarea property="comment" rows="5" cols="50" /><br/>
			</li>
		</ol>
		
		<p>Artikel: <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{order.itemsTotal}</f:format.number>&nbsp;&euro;</p>
		<p>Versand: <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{order.shipping}</f:format.number>&nbsp;&euro;</p>
		<f:if condition="{order.discount} > 0.0">
			<p>Rabatt: -<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{order.discount}</f:format.number>&nbsp;&euro;</p>
		</f:if>
		<p>Gesamtbetrag: <f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{order.total}</f:format.number>&nbsp;&euro;</p>
		<p>MwSt-befreit nach &sect;4 UStG</p>
		<p>Zahlungsart: <f:form.radio id="paymentmodePaypal" name="paymentmode" value="paypal" checked="true" />&nbsp;PayPal <f:form.radio id="paymentmodePrepayment" name="paymentmode" value="prepayment" />&nbsp;Vorkasse</p>
		<div id="paypalInfos">
			<p>Bezahlen Sie einfach und sicher via PayPal. Klicken Sie dazu auf "Bezahlen mit PayPal". Nach erfolgreicher Zahlung erhalten Sie eine Bestellbestätigung.</p>
			<f:form.submit name="showBasket" value="Zurück" />
			<f:form.submit name="payViaPaypal" value="Bezahlen mit PayPal" />
		</div>
		<div id="prepaymentInfos" style="display:none;">
			<p>Sie haben Vorkasse gewählt. Klicken Sie auf "Jetzt bestellen" um die Bestellung abzuschließen. Sie erhalten eine Bestellbestätigung mit der Kontoverbindung.</p>
			<f:form.submit name="showBasket" value="Zurück" />
			<f:form.submit name="payViaPrepayment" value="Jetzt bestellen" />
		</div>
	</f:form>
</div>
<script "text/javascript">
	document.getElementById("paymentmodePaypal").onchange = function() {
		document.getElementById("paypalInfos").style.display="block";
		document.getElementById("prepaymentInfos").style.display="none";
	};
	document.getElementById("paymentmodePrepayment").onchange = function() {
		document.getElementById("paypalInfos").style.display="none";
		document.getElementById("prepaymentInfos").style.display="block";
	};
	
</script>
</f:section>