<f:layout name="Default" />

<f:section name="main">
<div class="order-checkout">
	<h1>Sie werden zu PayPal weitergeleitet...</h1>
	<p>Sollten Sie nicht innerhalb von 10 Sekunden weitergeleitet worden sein, klicken Sie bitte <a href="javascript:doSubmit();">hier</a>.</p>
	<form action="{paypal.url}" method="post" autocomplete="off" name="paypalForm">
		<input type="hidden" name="currency_code" value="EUR">
		<input type="hidden" name="return" value="{paypla.returnUrlSuccess}">
		<input type="hidden" name="cancel_return" value="{paypla.returnUrlCancel}">
		<input type="hidden" name="cmd" value="_cart">
		<input type="hidden" name="upload" value="1">
		<input type="hidden" name="business" value="{paypal.receiver}">
		<input type="hidden" name="invoice" value="{orderId}">
		<input type="hidden" name="custom" value="{transactionId}">
		<input type="hidden" name="item_name_1" value="{orderTitle}">
		<input type="hidden" name="amount_1" value="{order.itemsTotal}">
		<input type="hidden" name="shipping_1" value="{order.shipping}">
		<input type="hidden" name="country" value="DE">
		<input type="hidden" name="lc" value="DE">
	</form>
</div>
<script "text/javascript">
	function doSubmit() {
		document.getElementsByName("paypalForm")[0].submit();
	}
	doSubmit();
</script>
</f:section>